<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>kill_double_typing</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/kill_double_typing</string>
            <string>--delay-all-keys</string>
            <string>--default-delay-duration</string>
            <string>40</string>
            <string>--delay-key</string>
            <string>n:65</string>
            <string>--delay-key</string>
            <string>j:60</string>
            <string>--delay-key</string>
            <string>x:50</string>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <key>KeepAlive</key>
        <true/>

        <key>StandardOutPath</key>
        <string>/var/log/kill_double_typing.log</string>

        <key>StandardErrorPath</key>
        <string>/var/log/kill_double_typing.log</string>
    </dict>
</plist>
